# Sensitive files
*.env
*.key
*.secret
*secret*
*token*
Response.json
response.json
*.log

# React Native
node_modules/
.expo/
.expo-shared/

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties

# General
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
